<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="uri" value="http://localhost/page.aspx"/>
    <add key="downloadLinkElementId" value="SomeAspNetControl1$cmdDoSomething"/>
    <add key="outputFile" value="C:\\some\\path\\to\\file.csv"/>
    <add key="expectedContentType" value="text/csv"/>
  </appSettings>
</configuration>